* {
    font-family: monospace;
}

body {
    background-image: radial-gradient(lavenderblush, pink, salmon);
    background-attachment: fixed;
}

h1, h3, p, td {
    text-align: center;
}

.opcion {
    width: 100%;
    font-family: cursive;
    border: none;
    border-radius: 5px;
    background: none;
    transition: background-color 1s ease;
}

.opciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.muestra {
    width: 30%;
}
.opcion:hover {
    background-color: aliceblue;
}